@import "../../../utils/utils.scss";

.list {
  margin-bottom: 20px;
}

.item {
  border-bottom: 1px solid $greyE4;
  &:first-child {
    border-top: 1px solid $greyE4;
  }
}

.time {
  font-weight: 300;
  color: $grey99;
}
