@import "../../utils/utils.scss";

.link {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  color: $pomodoro;
  @include transition(color);

  & svg {
    margin-right: 5px;
    & path {
      @include transition(fill);
    }
  }

  &:hover {
    color: $pomodoroDark;

    & svg path {
      fill: $pomodoroDark;
    }
  }
}
