$black: #333;
$grey99: #999;
$greyF4: #f4f4f4;
$greyE5: #e5e5e5;
$greyEC: #ececec;
$greyE4: #E4E4E4;
$greyC4: #c4c4c4;
$green: #a8b64f;
$greenDark: #899441;
$white: #ffffff;
$pomodoro: #dc3e22;
$pomodoroDark: #b7280f;
$pomodoroMedium: #ee735d;
$pomodotoLight: #ea8a79;
$blue: #c5f1ff;
$violet: #dfdcfe;
$orange: #ffdda9;
