@import "./utils/utils.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid transparent;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: $black;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-link {
  display: block;
  text-decoration: none;
}

.reset-title,
.reset-text {
  margin: 0;
}

.reset-button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.reset-input {
  border: none;
  &[type="text"]::-ms-clear,
  &[type="text"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  &[type="search"]::-webkit-search-decoration,
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-results-button,
  &[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.reset-form {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  display: inline-block;
  border: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
